body{
    font-size: 1.5rem;
}

.columns{
    column-count: 4;
    column-width: 250px;
    column-rule:2px solid black;
}

.columns p{
    margin-top: 0;
}

.columns h2{
    margin-top: 0;
    background-color: #333;
    color: aliceblue;
    padding: 1rem;
    break-inside: avoid;
    break-before: column; 
}

.quote{
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all; 
}