*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
}

ul {
    list-style-type: none;
    text-align: right;
    background-color: black;
    padding:0.5rem;
}
li{
    display: inline-block;
    margin-inline: 1rem; 
     
}

li a{
    color: aliceblue;
    text-decoration: none;


}

li a:hover{
    text-decoration: underline;
}

 