*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 1px solid purple;
}

.container{
    border: 1px solid blue;
    height: 600px;
    width: 90%;
    margin: auto;
    position: relative;
    top:50px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fit,100px);
   
}

.btn {
    color: black;
    display: block;
    
}
