/*
list-style-type:lower-roman
text-align:center;
line-height: 1.6;
list-style :type;image;position
*/

body {
    padding: 5% 10%;
    font-size: 2rem;
}

ol {
  list-style-type:lower-alpha;
  padding: 0;
}

ul {
    list-style-type: square; 
    text-align:center;
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
}

ul li:nth-child(odd) {
    color: red;

}

ul ::marker {
    color: red;
    font-size: 1em;
    content: "  Only $5 "; 
}

