*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
 }
 
 body{
     font-size: 1.5rem;
     min-height: 100vh;
     background-color: grey;
     background-image: radial-gradient(whitesmoke,#475569);
     display: flex;
     flex-direction: column;
 
 }
 
 header,nav,main,footer{
     display: grid;
     justify-content: center;
      grid-template-columns: 100%; 
      text-align: center;
 }
 
 header,footer{
     position: sticky;
     background-color: #1E293B;
     color: aliceblue;
 }
 
 header{
     top:0;
 }
 
 footer{
     bottom:0;
 }
 
 main{
     flex-grow: 1;
 }
 
 nav{
     background-color: white;
     color: black;
     padding: 0.5rem;
     border-bottom: 2px solid black;
 }
 /*
 @media media type and (condition:breakpoint){
 //css rules
 }
 */
 
 /*orientation:landscape:phone horizental*/
 
 /* SMALL*/
 
 @media screen and (min-width:576px){
     body{
         background-color: green;
         background-image: radial-gradient(whitesmoke,green);
     }
     nav{
         display: none;
     }
 }
 
 /*Medium*/
 
 @media screen and (min-width:768px){
     body{
         background-color: gold;
         background-image: radial-gradient(whitesmoke,gold);
     }
     nav{
         display: none;
     }
 }
 /*Large*/
 
 @media screen and (min-width:992px){
     body{
         background-color: firebrick;
         background-image: radial-gradient(whitesmoke,firebrick);
     }
     nav{
         display: none;
     }
 }
 /*  xl */
 
 @media screen and (max-height:1200px)and (min-aspect-ratio:7/4) {
     body{
         background-color: rebeccapurple;
         background-image: radial-gradient(whitesmoke,rebeccapurple);
     }
     nav{
         display: none;
     }
 }
 
 /*mobile landscape*/
 @media screen and (max-height:425px) and (min-aspect-ratio:7/4) {
     body{
         background-color: dodgerblue;
         background-image: radial-gradient(whitesmoke,dodgerblue);
     }
     h1,h2 {
         font-size: 1.5rem;
     }
 }
 
 
 
 