*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    min-height: 200vh;
}

.outer-container{
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;

}

.inner-container {
    border: 2px dashed blue;
    width: 40vw;
    height:50vh;
    margin: 200px auto;
}

.box{
    width: 150px;
    height: 150px;
    color: aliceblue;
    padding: 1rem;
}

.absolute {
    background-color: blue;
    position: absolute;
    top: 0;
    left:0px;
    z-index: 1;
}

.relative{
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

.fixed{
    background-color: rgb(3, 88, 59);
    position: fixed;
    top: 100px;

}

.sticky{
    background-color: black;
    position: sticky;
    top: 0px;
}

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
}

.blue{
    background-color: blue;   
}

.red{
    background-color: red;   
}

.green{
    background-color: green;   
}

header,footer{
    text-align: white;
    text-align: center;
    height: 100px;
}

header{
    position: sticky;
    top:0;
    font-size: 5rem;

}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 3rem;
}

a:visited{
    color: white;
}

.social{
    background-color: blue;
    color: white;
    font-size: inherit;
    padding: 1rem;
    top:30%;
    position: fixed;
    z-index: 1;
    
}