/*Typographie*/
/*
text-decoration: line-through;overlined..
text-transform: lowercase;
text-align: justify;
text-indent: 2em;
letter-spacing:0.1em ;
word-spacing: 0.1em;
font-weight:normal;
font-style: oblique;

*/
/* 
input,button{
    font:inherit;
} */

/*
opacity hover keeps the same colour more lighter
*
/