*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: bolder;
    font-size:1rem;    
}

body {
    background-image: linear-gradient(rgb(223, 127, 223),rgb(112, 112, 233),rgb(224, 191, 191));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    display: flex;
    margin: auto;
    min-height: 4vh;
    gap:4rem;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
  
}
ul li a {
    text-decoration: none;
    color:rgb(31, 19, 137);
}

a:hover {
    opacity: 60%;
}

.box {
    border: 1px solid red; 
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }

.grid {
    min-height: 50vh;
    margin-top: 1rem;
    border: 4px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit,100px);
    gap: 1rem;

}
